button, input, select {
  outline: none !important;
}


body {
  font-family: 'Kumbh Sans', sans-serif;
}


a {
  color: #0090b0;
}

a:hover {
  color: #23a1bd;
}


.container {
  max-width: 600px;
  width: 100%;
}

.blu-lite {
  color: #00bcd4;
}

.bg-white {
  background-color: #FFFFFF;
}

.bg-floralwhite {
  background-color: floralwhite;
}

.f-colum {
  flex-direction: column;
}

.d-flex {
  display: flex;
}

.d-block {
  display: block;
}

.jc-center {
  justify-content: center;
}

.jc-end {
  justify-content: flex-end;
}

.jc-between {
  justify-content: space-between;
}

.jc-around {
  justify-content: space-around;
}

.align-center {
  align-items: center;
}


.pt-20 {
  padding-top: 20px;
}

.pb-20 {
  padding-bottom: 20px;
}



.pt-30 {
  padding-top: 30px;
}

.pb-30 {
  padding-bottom: 30px;
}



.pt-40 {
  padding-top: 40px;
}

.pb-40 {
  padding-bottom: 40px;
}



.pt-50 {
  padding-top: 50px;
}

.pb-50 {
  padding-bottom: 50px;
}


.px-20 {
  padding-left: 20px;
  padding-right: 20px;
}

.py-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}




.mt-5 {
  margin-top: 5px;
}

.mb-5 {
  margin-bottom: 5px;
}

.mt-10 {
  margin-top: 10px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mb-20 {
  margin-bottom: 20px;
}


.mt-30 {
  margin-top: 30px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mx-10 {
  margin-left: 10px;
  margin-right: 10px;
}

.my-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}


.fw-bold {
  font-weight: bold;
}

.fz-12 {
  font-size: 12px;
}


.fz-15 {
  font-size: 15px;
}

.fz-20 {
  font-size: 20px;
}

.fz-25 {
  font-size: 25px;
}


.fz-30 {
  font-size: 30px;
}


.fz-40 {
  font-size: 40px;
}


.hero {
  border-top: 8px solid #00bcd4;
  border-radius: 6px;

}

.bordes {
  border: 1px solid rgb(204, 203, 203);
  border-radius: 8px;
}

.input-class {
  width: 50%;
  height: 25px;
  border: none;
  border-bottom: 1px solid rgb(204, 203, 203);
}

.btn-sutmib {
  padding: 12px 33px;
  border: none;
  background-color: #0090b0;
  font-size: 15px;
  font-weight: bold;
  color: #FFFFFF;
  border-radius: 8px;
}

.btn-sutmib:hover {
  background-color: #23a1bd;
  transform: scale(1.1);
}
